.home{
    width:43px;
    height:22px;
    background-image:url(../images/Home.png);
    float:left;		
}

.music{
    width:50px;
    height:22px;
    background-image:url(../images/Music.png);
    float:left;
}

.programming{
    width:71px;
    height:22px;
    background-image:url(../images/Programming.png);
    float:left;
}

.hardware{
    width:50px;
    height:22px;
    background-image:url(../images/Music.png);
    float:left;
}
.generate{
    clear:both;
    width:50px;
    height:22px;
    background-image:url(../images/Home.png);
   /* position:relative;*/
}
 
.share{
    margin-left:288px;
    width:155px;
    height:22px;
}
 
ul#topBar{
    margin:25px 0px 30px 0px;
    width:100%;
    height:22px;
    list-style:none;    
    /*background-image:url(../images/Home.png);*/
    border:1px solid #363636;
  /*  overflow:hidden; */
}

#topBar ul {
    background:#fff;  /*Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

#topBar li:hover ul{ /* Display the dropdown on hover */
    left:auto; /* Bring back on-screen when needed */
    margin:0;
    padding:0;
}

.task_list{
    padding:3px;
    border:1px solid #888;
}


#header{
    width:100%;
    height:150px;
    border:2px #333333 solid; 
    background:#FFFFCC;
}

#body_content{
    width:100%;
    height:150px;
    border:2px #333333 solid; 
    background:#FFFFCC;
}

.table_content{
    padding:10px;
    border:1px solid #888;
    border-spacing:10;
}
/* 
#topBar a{
    float:left;
    display:block;
    text-indent:-400px;
    overflow:hidden;
    background-position:bottom; 
}
 
#topBar a:hover{
    background-position:top; 
}
*/
